@import './utils/fonts';

@import './utils/variables';

@import './base';

@import './utils/utils.scss';

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.section {
    padding: 48px 0;
}

@import './components/buttons';
@import './components/links';
@import './components/header';
@import './components/hero-section';

.advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light);
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

.traditions-section {
    padding-top: 96px;
}

.tradition-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.tradition-content {
    max-width: 710px;
}

.tradition-title {
    margin-bottom: 42px;
}

/* .traditions-text {
    white-space: nowrap;
} */
.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .brand_uppercase {
    color: var(--color-brand-normal);
    text-transform: uppercase;
}

.traditions-text.limited {
    max-width: 340px;
}
/* chef section */

.cheafs-title {
    position: relative;
    margin: 0 auto 80px;
}

.cheafs-title::before,
.cheafs-title::after {
    position: absolute;
    bottom: 24px;
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '';
}
.cheafs-title::before {
    left: 0;
}

.cheafs-title::after {
    right: 0;
}

.chefs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
    display: flex;
    gap: 30px;
}

.cheaf-images {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}

/* Formats section */
.formats-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}
.format-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-brand-dark) 100%);
    border-radius: 16px;
    transition: transform 0.3s;
}

.format-card:hover {
    transform: scale(1.05);
}

.format-image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.formats-title {
    margin-bottom: 80px;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
}

.format-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
}

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-primary-dark);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}

.carousel-button.next {
    transform: rotate(180deg);
}

/* Contact section */
.contact-section {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-title {
    margin-bottom: 16px;
}

.contact-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

/* Footer */
.footer {
    padding: 32px 0;
    position: relative;
    background-image: url('../images/footer-backgroung.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-addres {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.addres-list,
.addres-info {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.addrress-link:hover {
    color: var(--color-brand-normal);
}

.adress-icon {
    fill: var(--color-primary-light);
}

/* .adress-icon:hover {
    fill: var(--color-primary-dark);
} */

.address-copyright {
    font-size: 14px;
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../images/decor-bread-small.png);
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../images/decor-bread-large.png);
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    transition: opacity 0.3s, visibility 0.3s;
    overflow-y: auto;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

/* Form */
.form-field {
    margin-bottom: 32px;
}
.form-label {
    display: block;
}
.form-input {
    padding: 16px 42px;
    width: 100%;
    font-style: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border: 1px solid var(--color-brand-normal);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-style: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    display: block;
    margin: 0 auto 24px;
}

.form-terms {
    margin: 0 auto;
    max-width: 220px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}
