@import './utils/fonts';

@import './utils/variables';

@import './base';

@import './utils/utils.scss';
@import './layouts/containe';
@import './layouts/section';
@import './components/buttons';
@import './components/links';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/traditions-section';
@import './components/chef-card';
@import './layouts/formats_section';
@import './components/format-card';
@import './components/carousel-button';
@import './layouts/contact-sectoon';
@import './layouts/footer';
@import './layouts/modal';
@import './layouts/forms';
