.text-brand {
    color: var(--color-brand-normal);
}

.text-bolt {
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-brand-dark {
    color: var(--color-brand-dark);
}
