.footer {
    padding: 32px 0;
    position: relative;
    background-image: url('../images/footer-backgroung.png');
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-addres {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.addres-list,
.addres-info {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.addrress-link:hover {
    color: var(--color-brand-normal);
}

.adress-icon {
    fill: var(--color-primary-light);
}

/* .adress-icon:hover {
    fill: var(--color-primary-dark);
} */

.address-copyright {
    font-size: 14px;
}

.footer::before,
.footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url(../images/decor-bread-small.png);
}

.footer::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url(../images/decor-bread-large.png);
}
