.tradition-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.tradition-content {
    max-width: 710px;
}

.tradition-title {
    margin-bottom: 42px;
}

/* .traditions-text {
    white-space: nowrap;
} */
.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .brand_uppercase {
    color: var(--color-brand-normal);
    text-transform: uppercase;
}

.traditions-text.limited {
    max-width: 340px;
}
